In [211]:
pip install pymongo

Requirement already satisfied: pymongo in /Users/bibekrai/tensorflow-test/env/lib/python3.10/site-packages (4.6.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /Users/bibekrai/tensorflow-test/env/lib/python3.10/site-packages (from pymongo) (2.6.1)

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [212]:
import pandas as pd
from pymongo import MongoClient

In [213]:
def _connect_mongo(host, port, username, password, db):
    if username and password:
        mongo_uri = 'mongodb://%s:%s@%s:%s/%s' % (username, password, host, port, db)
        conn = MongoClient(mongo_uri)
    else:
        conn = MongoClient(host, port)
    return conn[db]

In [214]:
def read_mongo(db, collection, query={}, host='localhost', port=27017, username=None, password=None, no_id=True):
    db = _connect_mongo(host=host, port=port, username=username, password=password, db=db)
    cursor = db[collection].find(query)
    df =  pd.DataFrame(list(cursor))
    if no_id:
        del df['_id']
    return df

In [215]:
df=read_mongo('store', 'orders')

In [216]:
df

,Artist Name,Genres,Popularity,Followers Count
0,Dakpa Nepali,singing bowl,38,1404
1,Swoopna Suman,nepali pop,46,193318
2,Sajjan Raj Vaidya,"nepali indie, tibetan pop",53,504272
3,Trishna Gurung,"classic nepali pop, nepali pop",39,61402
4,Melina Rai,"classic nepali pop, nepali pop",43,61665
...,...,...,...,...
495,Arjun Kaushal,NaN,9,111
496,Sashan Kandel,NaN,5,142
497,Nirmala Bhandari,NaN,8,41
498,Uday Raj Poudel,nepali indie,5,90
499,Dr Pilots,NaN,4,186

In [217]:
df.columns

Index(['Artist Name', 'Genres', 'Popularity', 'Followers Count'], dtype='object')

In [218]:
df.shape

(500, 4)

In [219]:
df.dtypes

Artist Name        object
Genres             object
Popularity          int64
Followers Count     int64
dtype: object

In [220]:
df.isnull().sum()

Artist Name          0
Genres             246
Popularity           0
Followers Count      0
dtype: int64

In [221]:
df['Genres'].value_counts()

classic nepali pop                               73
nepali pop                                       65
classic nepali pop, nepali pop                   60
nepali indie                                     14
nephop                                           11
classic nepali pop, lok dohori                    8
himalayan folk                                    5
lok dohori                                        3
nepali indie, nepali rock                         3
classic nepali pop, nepali rock                   2
nepali rock                                       2
classic nepali pop, lok dohori, nepali pop        2
nepali pop, tibetan pop                           1
classic nepali pop, nepali indie, nepali pop      1
classic nepali pop, nepali indie, nepali rock     1
himalayan folk, nepali pop                        1
nepali indie, tibetan pop                         1
singing bowl                                      1
Name: Genres, dtype: int64

In [222]:
df['Artist Name'].replace('Népal archived','Nepal archived',inplace=True)
df['Artist Name'].replace('CD Vijaya Adhikari','Vijaya Adhikari',inplace=True)
df['Artist Name'].replace('Music.Npal','Music Nepal',inplace=True)
df['Artist Name'].replace('Bro.- Sis. Band','Bro sis Band',inplace=True)
df['Artist Name'].replace('C.O.D','COD',inplace=True)
df['Artist Name'].replace('Sur - Sudha','Sur Sudha',inplace=True)
df['Artist Name'].replace('PranitAcharjuNewar','Pranit Acharju Newar',inplace=True)
df['Artist Name'].replace('Mr.Hyozu','Mr Hyozu',inplace=True)
df['Artist Name'].replace('Nepali Lo-Fi','Nepali Lofi',inplace=True)
df['Artist Name'].replace('M-zee Trix','Mzee Trix',inplace=True)
df['Genres'].replace('classic nepali pop, nepali pop','nepali pop',inplace=True)
df['Genres'].replace('nepali indie, tibetan pop','nepali indie',inplace=True)
df['Genres'].replace('himalayan folk, nepali pop', 'himalayan folk',inplace=True)
df['Genres'].replace('classic nepali pop, lok dohori, nepali pop','lok dohori',inplace=True)
df['Genres'].replace('classic nepali pop, nepali indie, nepali rock','nepali rock',inplace=True)
df['Genres'].replace('classic nepali pop, nepali indie, nepali pop','nepali pop',inplace=True)
df['Genres'].replace('classic nepali pop','nepali pop',inplace=True)
df['Genres'].replace('nepali pop, tibetan pop','nepali pop',inplace=True)
df['Genres'].replace('classic nepali pop, nepali rock','nepali rock',inplace=True)
df['Genres'].replace('nepali indie, nepali rock','nepali rock',inplace=True)
df['Genres'].replace('classic nepali pop, lok dohori','lok dohori',inplace=True)
df['Genres'].replace('nepali indie, nepali rock','nepali indie',inplace=True)

In [223]:
modern_classical_artist_names = ['Vijaya Adhikari', 'Pranit Acharju Newar', 'Narayan Gopal','Arun Thapa','Udit Naran Jha',
                                 'Deepak Bajracharya','Tara Devi']
df.loc[df['Artist Name'].isin(modern_classical_artist_names), 'Genres'] = 'modern classical'

In [224]:
music_distributor_names = ['Music Nepal', 'Anxmus Music', 'Changa Productions','changa productions','Nepali Lofi']
df.loc[df['Artist Name'].isin(music_distributor_names), 'Genres'] = 'music distributor'

In [225]:
folk_rock_artist_names = ['Nepathya','Ethos Band']
df.loc[df['Artist Name'].isin(folk_rock_artist_names), 'Genres'] = 'folk rock'

In [226]:
rap_artist_names = ['Nepal archived','VTEN','Dong','TUKI MUSIC','SACAR aka Lil Buddha','Yama Buddha','Krizn','Girish Khatiwada'
                    ,'Andazification','Manas Ghale','Mzee Trix','Pakku Panda','NepMelo','Jhapalish','5:55']
df.loc[df['Artist Name'].isin(rap_artist_names), 'Genres'] = 'rap'

In [227]:
nepali_pop_artist_names = ['Sajjan Raj Vaidya','Mr Hyozu','COD','Sugam Pokharel','Almoda Rana Upreti','Yabesh Thapa','John Rai',
                           'Jibesh Gurung','Aastha Raut']
df.loc[df['Artist Name'].isin(nepali_pop_artist_names), 'Genres'] = 'nepali pop'

In [228]:
lok_dohori_artist_names = ['NepMelo','Anju Pant','Anju Panta']
df.loc[df['Artist Name'].isin(lok_dohori_artist_names), 'Genres'] = 'lok dohori'

In [229]:
hard_rock_artist_names = ['Nepal Death']
df.loc[df['Artist Name'].isin(hard_rock_artist_names), 'Genres'] = 'hard rock'

In [230]:
df.isnull().sum()

Artist Name          0
Genres             221
Popularity           0
Followers Count      0
dtype: int64

In [231]:
df['Genres'].fillna('cover artist',inplace=True)

In [232]:
df

           Artist Name        Genres  Popularity  Followers Count
0         Dakpa Nepali  singing bowl          38             1404
1        Swoopna Suman    nepali pop          46           193318
2    Sajjan Raj Vaidya    nepali pop          53           504272
3       Trishna Gurung    nepali pop          39            61402
4           Melina Rai    nepali pop          43            61665
..                 ...           ...         ...              ...
495      Arjun Kaushal  cover artist           9              111
496      Sashan Kandel  cover artist           5              142
497   Nirmala Bhandari  cover artist           8               41
498    Uday Raj Poudel  nepali indie           5               90
499          Dr Pilots  cover artist           4              186

[500 rows x 4 columns]

In [233]:
df.isnull().sum()

Artist Name        0
Genres             0
Popularity         0
Followers Count    0
dtype: int64

In [234]:
df.to_csv('new_data.csv',index=True)

In [235]:
df['Genres'].value_counts()

cover artist         221
nepali pop           204
lok dohori            17
rap                   14
nepali indie          13
modern classical       8
nepali rock            8
himalayan folk         6
music distributor      5
folk rock              2
singing bowl           1
hard rock              1
Name: Genres, dtype: int64