In [141]:
pip install pymongo

Requirement already satisfied: pymongo in /Users/bibekrai/tensorflow-test/env/lib/python3.10/site-packages (4.6.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /Users/bibekrai/tensorflow-test/env/lib/python3.10/site-packages (from pymongo) (2.6.1)

[notice] A new release of pip is available: 23.0.1 -> 24.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [142]:
import pandas as pd
from pymongo import MongoClient

In [143]:
def _connect_mongo(host, port, username, password, db):
    if username and password:
        mongo_uri = 'mongodb://%s:%s@%s:%s/%s' % (username, password, host, port, db)
        conn = MongoClient(mongo_uri)
    else:
        conn = MongoClient(host, port)
    return conn[db]

In [144]:
def read_mongo(db, collection, query={}, host='localhost', port=27017, username=None, password=None, no_id=True):
    db = _connect_mongo(host=host, port=port, username=username, password=password, db=db)
    cursor = db[collection].find(query)
    df =  pd.DataFrame(list(cursor))
    if no_id:
        del df['_id']
    return df

In [145]:
df=read_mongo('store', 'orders')

In [146]:
df

,Artist Name,Genres,Popularity,Followers Count
0,Dakpa Nepali,singing bowl,38,1404
1,Swoopna Suman,nepali pop,46,193318
2,Sajjan Raj Vaidya,"nepali indie, tibetan pop",53,504272
3,Trishna Gurung,"classic nepali pop, nepali pop",39,61402
4,Melina Rai,"classic nepali pop, nepali pop",43,61665
...,...,...,...,...
495,Arjun Kaushal,NaN,9,111
496,Sashan Kandel,NaN,5,142
497,Nirmala Bhandari,NaN,8,41
498,Uday Raj Poudel,nepali indie,5,90
499,Dr Pilots,NaN,4,186

In [147]:
df.columns

Index(['Artist Name', 'Genres', 'Popularity', 'Followers Count'], dtype='object')

In [148]:
df.shape

(500, 4)

In [149]:
df.dtypes

Artist Name        object
Genres             object
Popularity          int64
Followers Count     int64
dtype: object

In [150]:
df.isnull().sum()

Artist Name          0
Genres             246
Popularity           0
Followers Count      0
dtype: int64

In [151]:
df['Genres'].value_counts()

classic nepali pop                               73
nepali pop                                       65
classic nepali pop, nepali pop                   60
nepali indie                                     14
nephop                                           11
classic nepali pop, lok dohori                    8
himalayan folk                                    5
lok dohori                                        3
nepali indie, nepali rock                         3
classic nepali pop, nepali rock                   2
nepali rock                                       2
classic nepali pop, lok dohori, nepali pop        2
nepali pop, tibetan pop                           1
classic nepali pop, nepali indie, nepali pop      1
classic nepali pop, nepali indie, nepali rock     1
himalayan folk, nepali pop                        1
nepali indie, tibetan pop                         1
singing bowl                                      1
Name: Genres, dtype: int64

In [152]:
df['Artist Name'].replace('Népal archived','Nepal archived',inplace=True)
df['Artist Name'].replace('CD Vijaya Adhikari','Vijaya Adhikari',inplace=True)
df['Artist Name'].replace('Music.Npal','Music Nepal',inplace=True)
df['Artist Name'].replace('Bro.- Sis. Band','Bro sis Band',inplace=True)
df['Artist Name'].replace('C.O.D','COD',inplace=True)

In [153]:
df.loc[df['Artist Name'] == 'Nepal archived', 'Genres'] = 'nephop'
df.loc[df['Artist Name'] == 'CD Vijaya Adhikari', 'Genres'] = 'classical'